@font-face
  src: url('../fonts/ProximaNova-Regular.ttf')
  font-family: 'ProximaNovaReg'

@font-face
  src: url('../fonts/ProximaNova-Bold.ttf')
  font-family: 'ProximaNovaBold'

@font-face
  src: url('../fonts/BebasNeueBold.ttf')
  font-family: 'BebasNeueBold'

@font-face
  src: url('../fonts/BebasNeueBook.ttf')
  font-family: 'BebasNeueBook'

@font-face
  src: url('../fonts/MuseoSansCyrl900.otf')
  font-family: 'MuseoSansCyrl900'

.container
  width: 100%
  max-width: 1175px
  margin: 0 auto
  padding: 0 15px

*
  box-sizing: border-box

html
  padding: 0
  margin: 0

body
  margin: 0
  padding: 0
  font-family: 'ProximaNovaReg'
  font-size: 21px
  color: #000
  @media screen and (max-width: 992px)
    font-size: 20px
  @media screen and (max-width: 768px)
    font-size: 19px
  @media screen and (max-width: 576px)
    font-size: 18px

p
  margin: 0
  line-height: 1.286

a
  transition: all.2s ease

.flex
  display: flex

.red-btn
  background-image: url('../img/red-btn.png')
  background-position: top center
  background-repeat: no-repeat
  background-size: cover
  color: #000
  border-radius: 10px
  font-size: 16px
  font-family: "MuseoSansCyrl900"
  color: rgb(14, 16, 19)
  text-transform: uppercase
  text-decoration: none
  padding: 20px
  line-height: 1.25
  max-width: 355px
  padding: 27px 40px 45px
  display: flex
  flex-direction: column
  align-items: center
  white-space: nowrap
  position: relative
  transition: all.2s ease
  @media screen and (max-width: 576px)
    font-size: 15px
  &:hover
    opacity: 0.9
  span
    display: block

.title-text
  font-size: 78px
  font-family: 'BebasNeueBold'
  color: #000
  text-transform: uppercase
  @media screen and (max-width: 992px)
    font-size: 60px
  @media screen and (max-width: 768px)
    font-size: 50px
